---
import { commentConfig } from "@/config";

interface Props {
	path: string;
}

const config = {
	...commentConfig.waline,
	el: "#waline",
	path: Astro.props.path,
	dark: "html.dark",
	//wordLimit: ["2", "300"],
	wordLimit: 500,
	...(commentConfig.waline?.visitorCount ? { pageview: true } : {}),
};
---
<!-- Waline -->
<div class="relative w-full">
  <div id="waline"></div>
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
  <script type="module" is:inline define:vars={{ config }}>
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init(config);
  </script>
</div>

<script is:inline>
  const MAX = 500;

  const observer = new MutationObserver(() => {
    const counter = document.querySelector('.wl-word-limit');
    const editor = document.querySelector('.wl-editor');

    if (!counter || !editor) return;

    const len = editor.value.length;
	if (len > MAX) {
  		counter.textContent = `${MAX}+`;
  		counter.style.color = 'var(--warning)';
	} else {
		counter.textContent = `${len} / ${MAX}`;
		counter.style.color = '';
	}
  });

  observer.observe(document.body, {
    childList: true,
    subtree: true,
  });
</script>
